@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .apiResponseContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
  }
  
  
  .apiResponseHeader {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }
  
  .companyLogo {
    height: 50px; 
  }
  
  .contentContainer {
    flex: 1;
    display: flex;
    padding: 1rem;
    background-color: white; 
  }
  
  .markdownContainer {
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 1rem;
    width: 50%; /* Adjust the width as needed */
    margin-right: auto; /* Pushes the container to the left */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #232527;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    max-height: 80vh; /* Example using vh for responsiveness */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  
  

 .apiResponseFooter {
  background-color: #ffffff;
  
 }

 .footerText {
  color: white;
  padding: 5px; /* Adjust padding as needed for aesthetics */
  text-align: right;
}

img {
  width: auto;
  height: 50%; 
  max-height: 50px; 
}
  
.header {
    background: #232527;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    width: 100%; /* Make the header take the full width of its parent */
}



.message {
  padding: 10px;
  margin: 5px;
  border-radius: 20px; 
  max-width: 100%; 
  border: 1px solid #e5e5ea;
}

.message.user {
  background-color: #f0f0f0; 
  text-align: left;
}

.message.api {
  background-color: #e5e5ea; 
  text-align: right;
}



.chatBox input[type="text"] {
  border-radius: 20px; 
  padding: 10px;
  width: 100%; 
  margin-right: 10px; 
}

.chatBox button {
  padding: 10px 20px;
  border-radius: 20px; 
  vertical-align: top; 
}

.chatBox button:hover {
  background-color: #00ff0d;
}

.chatContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  box-sizing: border-box; /* Add this line */
}
.messages {
  overflow-y: auto; 
  flex-grow: 1; 
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  
  
}

.chatBox {
  display: flex; 
  margin-top: 0px; 
  
}